.footer {
    color: #c5c5c5;
    text-align: center;
    margin: auto;
    max-width: 80%;
    border-top: 1px solid #989898;
    padding: 15px 0px;
    font-size: 16px;
}

.ftr2 {
    display: flex;
    flex-direction: row; /* Aligns items side-by-side */
    gap: 20px; /* Optional: Adds space between columns */
}

.ftr21 {
    flex: 1; /* Ensures each column takes equal space */
    display: flex;
    text-align: justify;
    padding: 10px; /* Adds spacing inside the columns */
    border: 1px solid transparent; 
}
@media (max-width: 768px) {
    .ftr21 {
        display: none;
    }
    .ftr1{
        font-size: 12px;
    }
    .ftr3{
        font-size: 12px;
    }
}
